@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
  padding: 1rem 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #22222a;
  color: #eef;
  font-family: 'Roboto', sans-serif
}

.activity {
}

.column {
}

td {
  text-align: right;
}

.cell {
  width: 2rem;
  height: 2rem;
}

.container {
  position: absolite;
  width: 60rem;
  height: 40rem;
  margin: auto;
}
